<%- include ../../partials/header.ejs%>
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            Criação de usuário
        </div>
        <div class="card-body">
        <form action="/users/create" method="POST">
            <input type="email" name="email" class="form-control mb-4" placeholder="exemplo@exemplo.com">
            <input type="password" name="password" class="form-control mb-2" placeholder="******">
            <button type="submit" class="btn btn-success btn-block">Criar</button>
        </form>
        </div>
    </div>
</div>

<%- include ../../partials/footer.ejs%>